* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    p,
    h3 {
        font-family: 'Playfair Display', serif;
    }
}

// CONTAINERS
.container-40 {
    width: 40%;
    margin: 0 auto;
}
.container-70 {
    width: 70%;
    margin: 0 auto;
}
.container-80 {
    width: 80%;
    margin: 0 auto;
}
.container-90 {
    width: 90%;
    margin: 0 auto;
}
.container-100 {
    width: 100%;
    margin: 0 auto;
}

// MENUS
.menu-inline {
    list-style: none;
    li {
        display: inline;
    }
}

li {
    a {
    text-decoration: none;
    color: $silver-color;
    font-size: 1em;
    }
    a.selected {
        color: $white-color;
    }
}

//COLUMNS
.col-10 {
    width: 10%;
}
.col-20 {
    width: 10%;
}
.col-30 {
    width: 30%;
}
.col-40 {
    width: 40%;
}
.col-50 {
    width: 50%;
}
.col-60 {
    width: 60%;
}
.col-70 {
    width: 70%;
}
.col-80 {
    width: 70%;
}
.col-90 {
    width: 90%;
}

// HEIGHTS
.h-1000 {
    height: 1000px;
}

// BUTTONS
.btn {
    background-color: transparent;
    border: 1px solid $silver-color;
    @include font(.6em, 600, uppercase, $silver-color);
    padding: 1em 2.5em;
}