.menu-card.menu-card-silver {
            width: calc(100% / 3);
            background-color: $silver-color;
            .menu-card-container {
                padding: 6em;
                .menu-card-title {
                    @include font(1.5em, 600, uppercase, $black-color);
                    margin-bottom: 2em;
                }
                .menu-card-dish {
                    .menu-card-dish-title {
                        @include flex(space-between, center, wrap);
                        margin-bottom: 1em;
                        .menu-card-dish-name {
                            width: 70%;
                            @include font(1.3em, 600, uppercase, $black-color);
                        }
                        .menu-card-dish-price {
                            display: block;
                            width: 10%;
                            @include font(.8em, 400, unset, $tundora-color);
                        }
                    }
                    .menu-card-dish-description {
                        @include font(1em, 400, unset, $tundora-color);
                        margin-bottom: 2em;
                    }
                }
            }
        }
        .menu-card.menu-card-black {
            width: calc(100% / 3);
            background-image: url(../assets/img/misc22x.jpg);
            background-size: cover;
            background-position: center;
            position: relative;
            bottom: 4em;
            left: 0;
            .menu-card-container {
                padding: 6em;
                background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(28,28,28,0.3) 100%);
                .menu-card-title {
                    @include font(1.5em, 600, uppercase, $white-color);
                    margin-bottom: 2em;
                }
                .menu-card-dish {
                    .menu-card-dish-title {
                        @include flex(space-between, center, wrap);
                        margin-bottom: 1em;
                        .menu-card-dish-name {
                            width: 70%;
                            @include font(1.3em, 600, uppercase, $white-color);
                        }
                        .menu-card-dish-price {
                            display: block;
                            width: 10%;
                            @include font(.8em, 400, unset, $silver-color);
                        }
                    }
                    .menu-card-dish-description {
                        @include font(1em, 400, unset, $silver-color);
                        margin-bottom: 2em;
                    }
                }
            }
        }