@mixin flex($justify, $align, $wrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin absolute_l($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin absolute_r($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin font($size, $weight, $transform, $color) {
    font-size: $size;
    font-weight: $weight;
    text-transform: $transform;
    color: $color;
}