// PALETTE
// color cube
$white-color: #ffffff;
$black-color: #030303;
$tundora-color: #434243;
$silver-color: #bcbcbc;
$almond-frost-color: #937a6b;
$oregon-color: #944402;
$eastern-blue-color: #2787b2;
$christine-color: #f3790c;
$equator-color: #e3bd5e;
$christi-color: #69a10e;

// median cut
$zeus-color: #1f1914;
$sisal-color: #d6cbbd;
$mantle-color: #88978d;
$fiery-orange-color: #b44a13;
$slate-gray-color: #6f7f8c;

// material design
$driftwood-color: #b7814d;
$flint-color: #676059;
$fiery-orange-darkvibrant-color: #af4913;
$english-walnut-color: #392b22;
$tacao-color: #f2bf87;
